<app-city-search
  class="text-center"
  (citySearched)="onSearch($event)"
></app-city-search>

<div class="row">
  <div *ngFor="let cityInfo of cityInfos" class="col-md-4 mb-4">
    <div class="card">
      <img
        [src]="getWeatherIconUrl(cityInfo.weatherData.weather[0].icon)"
        class="card-img-top"
        alt="Weather Icon"
      />
      <div class="card-body">
        <h5 class="card-title">Weather in {{ cityInfo.cityName }}</h5>
        <p class="card-text">
          Temperature: {{ cityInfo.weatherData.main.temp }}°C
        </p>
        <p class="card-text">
          Weather: {{ cityInfo.weatherData.weather[0].main }}
        </p>
        <button (click)="addToFavorites(cityInfo)" class="btn btn-primary">
          Add to Favorites
        </button>
      </div>
    </div>
  </div>
</div>
