/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-image: url(https://media.istockphoto.com/id/531889697/it/foto/concetto-di-tempo-previsione.jpg?s=612x612&w=0&k=20&c=rjZPG3TKWdnAAWPLakbTooMoIWzPlI-4MvwNCXF2ykE=);
  background-repeat: no-repeat;
  background-size: cover;
}
